button {
  background-color: rgb(182, 237, 114);
  border: none;
  border-radius: 12px;
  color: rgb(0, 0, 0);
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(139, 172, 89);
  color: rgb(255, 255, 255);
}

input[type="number"] {
  width: 200px;
  padding: 12px 20px;
  margin: 5px 0;
  box-sizing: border-box;
  margin-left: 10px;
  border-radius: 5px;
}

select {
  width: 100px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 8px;
  margin-left: 10px;
  border-radius: 5px;
}
