h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

button {
    background-color: #C1BAA1; /* Green */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #D7D3BF;
}

